<div class="widget">

    <div class="widget-box">
        <h3 class="widget-title">Categories</h3>
        <div class="divider"></div>
        <ul class="categories">
            <li><a href="#">Food <span>12</span></a></li>
            <li><a href="#">Dish <span>22</span></a></li>
            <li><a href="#">Desserts <span>37</span></a></li>
            <li><a href="#">Drinks <span>42</span></a></li>
            <li><a href="#">Ocassion <span>14</span></a></li>
        </ul>
    </div>

    <div class="widget-box">
        <h3 class="widget-title">Recent Blog</h3>
        {{ $link := .Permalink}}
        {{ range (.GetTerms "tags") }}
        {{ $tags := .LinkTitle }}
        {{$page := where .Pages "Type" "blogs" }}
        {{ range first 4 $page }}
        {{ $title := .Params.blogstitle }}
        {{ $slug := .Permalink}}
        {{ range (.GetTerms "tags") }}
        {{ if eq .LinkTitle $tags}}
        {{ if ne $slug $link}}
        <div class="divider"></div>
        <div class="blog-item">
            <div class="content">
                <h6 class="post-title"><a href="{{$slug}}">{{$title}}</a></h6>
            </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
    </div>

    <div class="widget-box">
        <h3 class="widget-title">Tag Cloud</h3>
        <div class="divider"></div>
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">menu</a>
            <a href="#" class="tag-cloud-link">food</a>
            <a href="#" class="tag-cloud-link">sweet</a>
            <a href="#" class="tag-cloud-link">tasty</a>
            <a href="#" class="tag-cloud-link">delicious</a>
            <a href="#" class="tag-cloud-link">desserts</a>
            <a href="#" class="tag-cloud-link">drinks</a>
        </div>
    </div>


</div>